<div>
    <h2 id="page-heading">
        <span>Clients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/client/new']">
            <span >
            Create new Client
            </span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="clients">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Prenom</span></th>
            <th><span>Societe</span></th>
            <th><span>Adresse</span></th>
            <th><span>Tel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients ;trackBy: trackId">
                <td><a [routerLink]="['/client', client.id, 'view' ]">{{client.id}}</a></td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.societe}}</td>
                <td>{{client.adresse}}</td>
                <td>{{client.tel}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/client', client.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/client', client.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="button" id="delete" class="btn btn-danger btn-sm"  (click)="delete(client.id)">
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
